.calculator-placement {
    margin: auto;
    display: flex;
    justify-content: center;
}

.container-title {
    width: 100%;
    display: flex;
    padding: 5px;
}

.container {
    width: 300px;
    height: 500px;
    border: 3px #000000 solid;
    background-color: #3a506b;
    border-radius: 10px;
    color: #EEE5E9;
    font-family: 'Orbitron';
}

/* #Screen */
.screen {
    width: 244px;
    margin: 10px auto;
    height: 60px;
    border: 3px #5bc0be solid;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    color: #1c2541;
    text-align: right;
    font-family: 'Orbitron';
}

::-webkit-input-placeholder {
    color: #1c2541;
    margin-right: 5px;
    font-family: 'Orbitron';
}

::-moz-placeholder {
    color: #1c2541;
    margin-right: 5px;
    font-family: 'Orbitron';
}

input {
    padding-right: 10px;
}

/* #Numerical block */
.numerical-block {
    width: 280px;
    margin: 40px auto 10px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

/* #Buttons */
.digital-button {
    width: 50px;
    height: 50px;
    border: 3px #5bc0be solid;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.operation-button {
    width: 50px;
    height: 50px;
    border: 3px #2dff79 solid;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button-value {
    margin: auto;
}

.single-row {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

/* #Footer */
.calculator-footer {
    color: #EEE5E9;
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC';
    font-size: 1.0em;
}

