body {
    background-image: url("mochaGrunge.png");
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.calculator-placement {
    margin: 0 100px;
}

.placement {
    display: flex;
    justify-content: space-around;
}

.container-title {
    width: 100%;
    display: flex;
    padding: 5px;
}

.container {
    width: 380px;
    height: 530px;
    border: 3px #000000 solid;
    background-color: #3a506b;
    border-radius: 10px;
    color: #EEE5E9;
    font-family: 'Orbitron';
}

/* #Screen */
.screen, .screen-error, .negative-root-error {
    width: 296px;
    margin: 10px auto;
    height: 80px;
    border: 3px white solid;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    color: #1c2541;
    text-align: right;
    font-family: 'Orbitron';
    background-color: #BFD7EA;
}

.screen-error {
    color: #bc3e32;
}

.negative-root-error {
    color: #bc3e32;
    font-size: 15px;
}

::-webkit-input-placeholder {
    color: #1c2541;
    margin-right: 5px;
    font-family: 'Orbitron';
}

::-moz-placeholder {
    color: #1c2541;
    margin-right: 5px;
    font-family: 'Orbitron';
}

input {
    padding-right: 10px;
}

/* #Numerical block */
.numerical-block {
    width: 380px;
    margin: 20px auto 40px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

/* #Buttons */
.digital-button {
    width: 50px;
    height: 50px;
    border: 2px #ffffff solid;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #1c3141;
    font-size: 18px;
}

.digital-button:hover {
    background-color: #28465d;
    font-size: 20px;
    border-color: #00ff00;
}

.operation-button, .operation-button-ac, .operation-button-c, .math-power-button {
    width: 50px;
    height: 50px;
    border: 2px #ff8c1a solid;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #1c3141;
    font-size: 18px;
}

.operation-button:hover, .operation-button-c:hover, .math-power-button:hover {
    background-color: #28465d;
    font-size: 20px;
    border-color: #00ff00;
}

/* #AC button */
.operation-button-ac {
    color: #000000;
    background-color: #aa6357;
    border-color: #ffffff;
    font-weight: bold;
}

.operation-button-ac:hover {
    background-color: #aa6357;
    font-size: 20px;
    border-color: #ffffff;
}

/* #C button */
.operation-button-c {
    color: #000000;
    background-image: url("delete24x24.png");
    background-repeat: no-repeat;
    background-position: center;
    border-color: #ffffff;
    text-indent: -9999px;
    overflow: hidden;
}

.operation-button-c:hover {
    background-image: url("delete26x26.png");
}

/* MATH POWER BUTTON #SQR */
.math-power-button {
    color: #000000;
    background-image: url("mathPower24x24.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px #ff8c1a solid;
    text-indent: -9999px;
    overflow: hidden;
}

.math-power-button:hover {
    background-image: url("mathPower26x26x.png");
}

.button-value {
    margin: auto;
}

.single-row {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.single-row-less-buttons {
    width: 256px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

/* #Footer */
.calculator-footer {
    color: #EEE5E9;
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC';
    font-size: 1.0em;
}

/* History */
.history-container {
    margin: 0 100px;
    border: 2px #000000 solid;
    border-radius: 10px;
    width: 340px;
    height: 530px;
    background-color: rgba(191,215,234, 0.28);

}

.history-title {
    margin-top: 10px;
    font-family: 'Orbitron', serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.history-result {
    margin: 0 20px 0 20px;
    font-size: 20px;
    text-align: left;
}

.history-date {
    margin: 20px 0 0 20px;
    color: #000000;
    font-size: 12px;
    text-align: left;
}
